<form [formGroup]="form" class="form margin-top">
  <div>
    <input type="text" formControlName="id" name="id" class="display-none">
    <div>
      <mat-form-field appearance="outline" class="width-height">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. João" formControlName="nome" name="nome" required>
        <mat-error>{{error}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="width-height">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="exemplo@example.com" formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.hasError('required') || form.get('email')?.hasError('email')">
          {{validaEmail()}}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="width-height">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="(00) 3333-3333" formControlName="telefone" required>
        <mat-error>{{error}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="buttons-flex">
    <button class="button-size button-style button-color-blue " (click)="atualizarUsuario()"
      [disabled]="!form.valid">Atualizar</button>
    <button class="button-size button-style button-color-red" (click)="cancel()"
      [disabled]="!form.valid">Cancelar</button>
  </div>
</form>