<footer>
  <mat-card class="footer-flex footer-padding background-color">
    <div>
      <img class="margin-top" src="assets/images/Group1.svg" alt="logotipo">
    </div>
    <div class="linha-vertical">
      <hr class="linha">
    </div>
    <div class="margin-top">
      <p class="font-style-p">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
      <p class="font-style-p">Call us now toll free: (800)2345-6789</p>
      <p class="font-style-p"> Customer support: support@demolink.org</p>
      <p class="font-style-p">Skype: sample username</p>
    </div>
  </mat-card>
</footer>