<header>
  <mat-card class="background-color">
    <div class="container header-flex">
      <div>
        <img src="assets/images/Group2.svg" alt="logotipo">
        <div class="margin-top">
          <h1 class="line-height font-size-title-1">{{ tituloGenerico }}</h1>
          <h2 class="line-height font-size-title-2">{{subtituloGenerico}}</h2>
        </div>
      </div>
      <nav class="menu-nav">
        <a class="font-style-a" routerLink="../home">Home</a>
        <a class="font-style-a" routerLink="../usuarios">Usuários</a>
        <a class="font-style-a" routerLink="../filmes">Filmes</a>
        <a class="font-style-a" routerLink="../genero">Gênero</a>
      </nav>
    </div>
  </mat-card>
</header>